body {
	margin: 0 auto;
}
img {

}
#logo {
	height: 50px !important;
	width: 220px !important;
	float: left;
}
#logofam {
	height: 60px;
	width: 120px;
	float:left;
}

#logofhs {
	height: 50px;
	width: 95px;
	float: left;
}

#logodeg {
	width: 200px;
	height: 40px;
}
#headerholder {
/*	border-bottom: 2px solid lightgray;
*/	height: auto;
}

.navbar {
	margin-bottom: 0px !important;
}
@media (min-width: 960px) {




#maincontent {
	margin: 0 auto;
/*	border: 1px solid black;
*/	width: 80%;
	margin-top: 15%;
}

.control-label {
/*	width: 370px !important;
*/	font-size: 70px;
	font-family: 'Roboto Slab', serif;


}

.form-horizontal .control-group {
	margin-bottom: 50px !important;
}

.form-horizontal .controls {
	float: right;

}

#logininput {
	height: 50px;
	font-size: 34px;
	font-family: 'Roboto Slab', serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 

}

/*.form-horizontal .controls {
	margin-left: 0;
}*/

.heading {
	margin-bottom: 30px !important;
}

.navbar {
	width: 640px !important;
	float: right !important;
}

.content {
	clear: both !important;
	padding-left: 1%;
	padding-right: 1%;
}

.navbar-inner {
	height: 60px;
}
a {
	font-size: 18px;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
	width: 70%;
	float: right;
}

.pname {
	margin-bottom: 8px;
	width: 90%;
}

.patientinfo {
	padding: 4px;
	width: 90%;
	height: 20%;
}
.app-data {
	font-style: oblique;
	font-size: 20px;
}
.patient-info {
	width: 90%;
	border: 1px solid red;
	height: 40px;
}


.patientinfo:hover {
	background-color: lightgray;

}



#squestion2 {
	width: 100%;
	text-align: center;
}



.sheading {
	width:90%;
	background-color: lightgray;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 20px;
	height: 30px;
	padding-left:8px;
}

.sheadingactive {
	width:90%;
	background-color: lightgray;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 20px;
	height: 30px;
	padding-left:8px;
}

.navbar .nav > li > a
{
	padding: 18px 5px 23px !important;
	font-size: 25px !important;
	border-left: 2px solid gray;
	font-family: 'Open Sans', 'sans-serif';
}

.navbar .brand {
	font-size: 25px !important;
	padding: 18px 3px 23px;
	font-family: 'Roboto Slab', serif;

}

.navbar-inner {
/*	padding-left:0 !important;
*/}


}
/*Lanscape CSS ENDS*/

#answer {
	width: 90%;
	height: 300px;
	font-size: 20px;
}
.cbutton {
	width: 88%;
	height: 60px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 35px; 
	font-family:'Open Sans', 'sans-serif';

}

.squestion {
	margin: 0 auto;
	/*border: 1px solid black;*/
	width: 90%;
	height: 550px;
}

#saveclose {
	color:red;
	float:right;
}
.tright {
	float:right;
}

.tleft {
	float:left;
}
.survey-list {
	width:85% !important;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;

}

#qtext {
	margin-top: 3%;
	line-height: 1;
}

#answer-buttons {
	margin-top: 20px;
	height: 40px;
}
input[type=submit] {
    -webkit-border-radius:0px;
}
input[type=button] {
    -webkit-border-radius:0px;
}

.btn-primary {
background-image: linear-gradient(to bottom,rgba(106, 175, 65, 0.84),#6AAF41) !important;
background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(106, 175, 65, 0.84)), to(#6AAF41));
}

.btn-completed {
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(238,238,238,1)), to(rgba(204,204,204,1) )) !important;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #6AAF41;
	color: white;
}

.span12 h3 {
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	}

.app-date {
	font-family: 'Roboto Slab', serif; 
	font-size: 20px;
}

.modal {
/*	left: 40% !important;
*/}

.modal.fade.in {
	width: auto;
}

.modal-footer .btn + .btn {
	font-size: 30px !important;
}
.bootstrap-datetimepicker-widget {
	font-size: 20px;
	width: 599px;
	height: 400px;
	line-height: 2em;
}

th.next {
	font-size: 40px !important;
}

th.prev {
	font-size: 40px !important;
}

i.icon-chevron-up{
	font-size: 40px;
}

i.icon-chevron-down{
	font-size: 40px;
}

span.timepicker-minute {
	font-size: 50px;
}

span.timepicker-hour {
	font-size: 50px;
}

i.icon-time {
	font-size: 50px;
}

i.icon-calendar {
	font-size: 50px;
}

span.add-on {
	height:50px !important;
}
i.icon-calendar {
	font-size: 50px;
}

i.icon-time {
	font-size: 50px;
}

#td > input {
	height: 50px !important;
}

div.accordion-heading {
/*	margin-top: 10% !important;
*/}

input > #contacted {
	width:50px;
	height:50px;
} 

#visitcomments {
	font-size: 30px;
	height:140px;
	width: 80%;
}

div#visitandbook.span12.btn-group {
/*	border:1px solid gray;
*/	width:100%;
	float:right;
	margin-bottom: 10px;
	margin-top:10px;
}

.lgbtn {
	padding-right:10px;
	margin-right:10px;
	font-size: 20px !important;
	height:25px;
}

.completevisitbtn {
	padding-right:10px;
	margin-right:10px;
	font-size: 30px !important;
	height:40px;
}

#crumbs ul li a::before {
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}

#crumbs ul li a::after {
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
}

#crumbs ul li a {
	/*height: 30px;*/
	padding: 13px 10px 0 60px;
}

div#crumbs {
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	clear: both;
	padding-top:10px;
}

div.tab-content {
	width: 90%;
}

div.bootstrap-datetimepicker-widget.dropdown-menu.pull-right {
	right: 249px !important;
}

.bootstrap-datetimepicker-widget {
	width: 449px !important;
}

.inactiveclr {
	background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.84), #C2C2C2) !important;
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(150, 150, 150, 0.84)), to(#C2C2C2)) !important;

	text-align: center;
	color:white;
	padding-top:5px;
}

.pendingappt {
	background-image: linear-gradient(to bottom,rgb(237, 181, 13),#B1AD18) !important;
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgb(237, 181, 13)), to(#B1AD18)) !important;
	text-align: left;
	color:white;
	padding-top:5px;

}

#logouttext {
	width: 700px;
	margin: 0 auto;
	clear:both;
	text-align: center;
}

#logoutheader {
	margin-bottom: 70px;
}

.logoutbtn {
	padding: 10px 40px 10px 40px;
	text-align: center;
	margin-right:0px;
	font-size: 40px !important;
	height:25px;
}


